<div class="d-flex" style="height: 1200x;width:1250px;margin: 0 auto;">
  {{>left-sidebar route="homepage"}}
  {{!-- 首頁/tweets --}}
  <div class="col-6 top">
    {{>index}}
  </div>
  {{>right-sidebar}}
</div>
{{>post-modal}}

<script>
  function checkLength(which) {
    const maxChars = 140
    const inputValue = which.value.trim().length
    const limitWord = document.getElementById("limit-word")
    const limitCount = document.getElementById("limit-count")
    const btn = document.querySelector('.btn-sml')
    const form = document.querySelector('.form')

    limitCount.innerText = inputValue + "/140"

    btn.addEventListener('click', function onSubmit(event) {
      form.classList.add('was-validated')
    })
    if (inputValue > maxChars) {
      limitCount.innerHTML = '<span id="limit-word" style="color:red;">字數不可超過140字</span>'
      which.value = which.value.substring(0, maxChars);
    }
      if (inputValue === 0) {
      limitCount.innerHTML = '<span id="limit-word" style="color:red;">內容不可空白</span>'
    }
  }
</script>
