<div class="d-flex" style="height: 1200x;width:1250px;margin: 0 auto;">
  {{> left-sidebar route="personal"}}
  <div class="col-6 top">
    {{> profile}}
    {{> user-content route="replies"}}
  </div>
  {{> right-sidebar}}
</div>
{{>post-modal}}
